# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/server-build

# testing
/coverage

# production
/build

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*

# idea folder
/.idea

#snapshots
src/components/__tests__/__snapshots__/
src/components/JossNavbar/__tests__/__snapshots__/
src/components/Container/DesktopContent/Sidebar/__tests__/__snapshots__/
