.carousel .control-dots .dot {
    width: 35px;
    height: 7px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 50px;
    box-shadow: none;
}

.carousel .control-dots .dot.selected {
    background-color: rgba(0, 0, 0, 1);
}